{{ form_start(form,{'action': path('admin_Niveau_update',{'id':id}),'method':'POST','attr':{'id':'addNiveau','novalidate':'novalidate'}}) }}
    {{ form_row(form.niveau) }}
<div class="divider15"></div>
<div>
    <input type="submit" value="update" class="btn btn-primary site-btn pull-right" id="addNiveauButton"/>
</div>
<input type="hidden" value="{{ app.user.etablissement.id }}" name="id"/>
{{ form_end(form) }}
<script type="text/javascript" src="{{ asset('assets/global/plugins/jquery/dist/jquery.min.js') }}"></script>