{{ form_start(form,{'action': path('admin_Specialite_update',{'id':id}),'method':'POST','attr':{'id':'addSpecialite','novalidate':'novalidate'}}) }}
    {{ form_row(form.nomSpecialite) }}
{{ form_row(form.filiere) }}
<span id="specialite"></span>
<div class="divider15"></div>
<div>
    <input type="submit" value="Update" class="btn btn-primary site-btn pull-right" id="addSpecialiteButton"/>
</div>
<input type="hidden" value="{{ app.user.etablissement.id }}" name="id"/>
{{ form_end(form) }}