<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from backend.themesadmin.com/backend/admin_icon_menu/material/admin_default/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Jun 2017 17:20:23 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="description" content="bootstrap default admin template">
    <meta name="viewport" content="width=device-width">
    <title>Error | Admin Template</title>

    <script type="text/javascript">
        //<![CDATA[
        var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-92643213-2']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();(function(b){(function(a){"__CF"in b&&"DJS"in b.__CF?b.__CF.DJS.push(a):"addEventListener"in b?b.addEventListener("load",a,!1):b.attachEvent("onload",a)})(function(){"FB"in b&&"Event"in FB&&"subscribe"in FB.Event&&(FB.Event.subscribe("edge.create",function(a){_gaq.push(["_trackSocial","facebook","like",a])}),FB.Event.subscribe("edge.remove",function(a){_gaq.push(["_trackSocial","facebook","unlike",a])}),FB.Event.subscribe("message.send",function(a){_gaq.push(["_trackSocial","facebook","send",a])}));"twttr"in b&&"events"in twttr&&"bind"in twttr.events&&twttr.events.bind("tweet",function(a){if(a){var b;if(a.target&&a.target.nodeName=="IFRAME")a:{if(a=a.target.src){a=a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);b=0;for(var c;c=a[b];++b)if(c.indexOf("url")===0){b=unescape(c.split("=")[1]);break a}}b=void 0}_gaq.push(["_trackSocial","twitter","tweet",b])}})})})(window);//]]>
    </script><script type="text/javascript">
        //<![CDATA[
        try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"82f71ab91e52e9dc6f8d10c6ee544add",petok:"4c725badf5d3107263aa698b084f5caae49c6fbc-1497804850-1800",zone:"themesadmin.com",rocket:"0",apps:{"ga_key":{"ua":"UA-92643213-2","ga_bs":"2"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="../../../../../ajax.cloudflare.com/cdn-cgi/nexp/dok3v%3d85b614c0f6/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
        //]]>
    </script>


    <link rel="stylesheet" href="{{ asset('assets/global/plugins/Waves/dist/waves.min.css')}}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap/dist/css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{ asset('assets/icons_fonts/elegant_font/elegant.min.css')}}"/>






    <link rel="stylesheet" href="{{ asset('assets/global/css/components.min.css') }}"/>



    <link rel="stylesheet" href="{{ asset('assets/layouts/layout-icon-menu/css/layout.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/pages/error/css/error.css') }}"/>

</head>
<body>
<div class="wrapper contain-error">
    <div class="main-contain-error">
        <div class="main-contain-inner-error">
            <div class="error-des text-xs-center">
                <div class="error-image"><img src="{{ asset('assets/pages/error/image/404-image.png') }}" alt="error page"/></div>
                <h1>oops! Page not found :(</h1>
                <p>You Seem To Be Trying To Find His Way Home</p>
                <form action="#">
                    <div class="search-error">
                        <input type="text" placeholder="Search..." class="input-notify float-xs-left">
                        <button class="btn flat-buttons btn-primary float-md-left" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ asset('assets/global/plugins/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/tether/dist/js/tether.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/Waves/dist/waves.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/pages/global/js/global.min.js')}}'"></script>

</body>

<!-- Mirrored from backend.themesadmin.com/backend/admin_icon_menu/material/admin_default/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Jun 2017 17:20:23 GMT -->
</html>