{% extends 'baseAdmin.html.twig' %}
{% block title %}Admin - Classe{% endblock %}
{% block stylesheets %}
    <script type="text/javascript">
        //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-92643213-2']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
        (function (b) {
            (function (a) {
                "__CF" in b && "DJS" in b.__CF ? b.__CF.DJS.push(a) : "addEventListener" in b ? b.addEventListener("load", a, !1) : b.attachEvent("onload", a)
            })(function () {
                "FB" in b && "Event" in FB && "subscribe" in FB.Event && (FB.Event.subscribe("edge.create", function (a) {
                    _gaq.push(["_trackSocial", "facebook", "like", a])
                }), FB.Event.subscribe("edge.remove", function (a) {
                    _gaq.push(["_trackSocial", "facebook", "unlike", a])
                }), FB.Event.subscribe("message.send", function (a) {
                    _gaq.push(["_trackSocial", "facebook", "send", a])
                }));
                "twttr" in b && "events" in twttr && "bind" in twttr.events && twttr.events.bind("tweet", function (a) {
                    if (a) {
                        var b;
                        if (a.target && a.target.nodeName == "IFRAME")a:{
                            if (a = a.target.src) {
                                a = a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);
                                b = 0;
                                for (var c; c = a[b]; ++b)if (c.indexOf("url") === 0) {
                                    b = unescape(c.split("=")[1]);
                                    break a
                                }
                            }
                            b = void 0
                        }
                        _gaq.push(["_trackSocial", "twitter", "tweet", b])
                    }
                })
            })
        })(window);//]]>
    </script>
    <script type="text/javascript">
        //<![CDATA[
        try {
            if (!window.CloudFlare) {
                var CloudFlare = [{
                    verbose: 0,
                    p: 0,
                    byc: 0,
                    owlid: "cf",
                    bag2: 1,
                    mirage2: 0,
                    oracle: 0,
                    paths: {cloudflare: "/cdn-cgi/nexp/dok3v=1613a3a185/"},
                    atok: "82f71ab91e52e9dc6f8d10c6ee544add",
                    petok: "07d9b5c669a4fa4a06776c98721e4d32cea870c5-1497805119-1800",
                    zone: "themesadmin.com",
                    rocket: "0",
                    apps: {"ga_key": {"ua": "UA-92643213-2", "ga_bs": "2"}}
                }];
                !function (a, b) {
                    a = document.createElement("script"), b = document.getElementsByTagName("script")[0], a.async = !0, a.src = "../../ajax.cloudflare.com/cdn-cgi/nexp/dok3v%3d85b614c0f6/cloudflare.min.js", b.parentNode.insertBefore(a, b)
                }()
            }
        } catch (e) {

        }
        ;
        //]]>
    </script>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/Waves/dist/waves.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap/dist/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/icons_fonts/elegant_font/elegant.min.css') }}"/>
    <link id="site-color" rel="stylesheet" href="{{ asset('assets/layouts/layout-material-menu/css/color/light/color-default.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/switchery/dist/switchery.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/perfect-scrollbar/css/perfect-scrollbar.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/css-hamburgers/dist/hamburgers.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/morris.js/morris.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/flatpickr/dist/flatpickr.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/owl.carousel/dist/assets/owl.carousel.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/owl.carousel/dist/assets/owl.theme.default.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/css/components.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/layouts/layout-left-icon-menu/css/layout.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/layouts/layout-icon-menu/css/layout.min.css') }}"/>
    <style>
        .menu-paiment:hover {
            background: #087380 !important;
        }
        .input-form {
            margin-top: 10px;
        }
    </style>
{% endblock %}
{% block secondMenu %}
    <div id="header-icon">
        <div class="header-width">
            <div class="col-xl-12">
                <div class="menucontainer">
                    <div class="overlapblackbg"></div>
                    <a id="navtoggle" class="animated-arrow"><span></span></a>
                    <nav id="nav" class="topmenu" role="navigation">
                        <ul class="menu-list live-search-list">
                            <li class="menu-paiment">
                                <a href="{{ path('admin_Annee_index') }}">
                                    <span class="icon_calendar header-icon" aria-hidden="true"></span>
                                    <span>Année</span>
                                </a>
                            </li>
                              <li class="menu-paiment">
                                <a href="{{ path('semestre_index') }}">
                                    <span class="icon_folder header-icon" aria-hidden="true"></span>
                                    <span>Semestre</span>
                                </a>
                            </li>
                            <li class="menu-paiment">
                                <a href="{{ path('admin_Diplome_index') }}">
                                    <span class="icon_ribbon header-icon" aria-hidden="true"></span>
                                    <span>Diplome</span>
                                </a>
                            </li>
                            <li class="menu-paiment">
                                <a href="{{ path('admin_Filiere_index') }}">
                                    <span class="icon_toolbox header-icon" aria-hidden="true"></span>
                                    <span>Filiére</span>
                                </a>
                            </li>
                            <li class="menu-paiment">
                                <a href="{{ path('admin_Specialite_index') }}">
                                    <span class="icon_document header-icon" aria-hidden="true"></span>
                                    <span>Specialite</span>
                                </a>
                            </li>
                            <li class="menu-paiment" >
                                <a href="{{ path('admin_Niveau_index') }}">
                                    <span class="icon_building header-icon" aria-hidden="true"></span>
                                    <span>Niveau</span>
                                </a>
                            </li>
                            <li style="background:#087380;">
                                <a href="{{ path('admin_Class_index') }}">
                                    <span class="icon_globe header-icon" aria-hidden="true"style="color: #fff;" ></span>
                                    <span style="color: #fff;">Classe</span>
                                </a>
                            </li>
                             <li class="menu-paiment">
                                <a href="{{ path('admin_Emploi_index') }}">
                                    <span class="icon_calendar header-icon" aria-hidden="true" ></span>
                                    <span>Emploi de Temps</span>
                                </a>
                            </li>
                            <li class="menu-paiment">
                                <a href="{{ path('admin_Unite_index') }}">
                                    <span class="icon_book header-icon" aria-hidden="true" ></span>
                                    <span>Unite Enseignement</span>
                                </a>
                            </li>
                             <li class="menu-paiment">
                                <a href="{{ path('session_index') }}">
                                    <span class="icon_group header-icon" aria-hidden="true" ></span>
                                    <span>Session</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <section id="content-wrapper" class="form-elements">

        <div class="site-content-title">
            <h2 class="float-xs-left content-title-main">Classe </h2>

            <ol class="breadcrumb float-xs-right">
                <li class="breadcrumb-item">
                    <span class="fs1" aria-hidden="true" data-icon=""></span>
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item"><a href="#">Classe</a></li>
                <li class="breadcrumb-item active">Etudiant </li>
            </ol>

        </div>

        <div class="contain-inner dashboard-v2">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12 xl-dashboard-v2">
                        <div class="row">
                            <div class="col-md-12 lg-dashboard-v2">
                                <div class="content">
                                    <div class="dashboard-content">
                                        <div class="dashboard-header">
                                            <h4 class="page-content-title float-xs-left">liste des Etudiants </h4>
                                            <div class="dashboard-action">
                                                <ul class="right-action float-xs-right">
                                                    <li data-widget="collapse">
                                                        <a href="javascript:void(0)" aria-hidden="true"><span class="icon_minus-06" aria-hidden="true"></span></a>
                                                    </li>
                                                    <li data-widget="close"><a href="javascript:void(0)"><span class="icon_close" aria-hidden="true"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="dashboard-box">
                                            <div class="basic_table table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>Nom</th>
                                                        <th>Cie </th>
                                                        <th>Cin</th>
                                                        <th>Tel</th>
                                                        <th>Email</th>
                                                        <th>Dernier Connexion</th>
                                                        <th>Activation</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for e in etudiant %}
                                                        {% if e.enabled == 1 %}
                                                            <tr>
                                                                <td>{{ e.nom  }} {{ e.prenom }}</td>
                                                                <td>{{ e.cie }}</td>
                                                                <td>{{ e.cin }}</td>
                                                                <td>{{ e.tel }}</td>
                                                                <td>{{ e.email }}</td>
                                                                <td>{{ e.lastLogin|date('M d Y H:i') }}</td>
                                                                <td>
                                                                    <a>
                                                                        <button type="button" class="btn btn-xs btn-outline-success btn-xs desactivt" data-id="{{ e.id }}" data-target="#view-contact" data-toggle="modal">Active</button>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {% else %}
                                                            <tr>
                                                                <td>{{ e.nom  }} {{ e.prenom }}</td>
                                                                <td>{{ e.cie }}</td>
                                                                <td>{{ e.cin }}</td>
                                                                <td>{{ e.tel }}</td>
                                                                <td>{{ e.email }}</td>
                                                                <td>{{ e.lastLogin|date('M d Y H:i') }}</td>
                                                                <td>
                                                                    <a>
                                                                        <button type="button" class="btn btn-xs btn-outline-danger desactivt" data-id="{{ e.id }}" data-target="#view-contact" data-toggle="modal">Desactive</button>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <div id="view-contact" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close contact-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Activation Etudiant</h4>
                </div>
                <div class="modal-body contact-info">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="divider15"></div>
                            <div class="contact-follow">
                                <div class="profile-icon text-xs-center">
                                    <p>sddssdsdsdssd</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary edit-profile edit save-btn desactiv">Confirmer</button>
                    <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/global/plugins/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/tether/dist/js/tether.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/switchery/dist/switchery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/screenfull.js/dist/screenfull.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/Waves/dist/waves.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/classie/classie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/raphael/raphael.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/morris.js/morris.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/moment/min/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/owl.carousel/dist/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/jquery-mousewheel/jquery.mousewheel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/arcseldon-jquery.sparkline/dist/jquery.sparkline.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/flatpickr/dist/flatpickr.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/js/site.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/js/site-settings.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/js/global/dashboard_v4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/layouts/layout-left-icon-menu/js/layout.min.js') }}"></script>
    <script>$('#gestion').addClass('active');</script>
    <script>
        $('.desactivt').click(function () {
            id = $(this).data('id');
            $('.desactiv').click(function () {
                $.ajax({
                    url: Routing.generate('admin_Class_delete',{'id':id}),
                    success: function (result) {
                        console.log(result);
                        window.location.href = "http://localhost/erp/web/app_dev.php/admin/class/index";
                    },
                    failed: function (a) {
                        console.log(a);
                    }
                });
            });
        });
    </script>
{% endblock %}