{% extends 'baseAdmin.html.twig' %}
{% block title %}Admin - Index{% endblock %}
{% block stylesheets %}
    <script type="text/javascript">
        //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-92643213-2']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
        (function (b) {
            (function (a) {
                "__CF" in b && "DJS" in b.__CF ? b.__CF.DJS.push(a) : "addEventListener" in b ? b.addEventListener("load", a, !1) : b.attachEvent("onload", a)
            })(function () {
                "FB" in b && "Event" in FB && "subscribe" in FB.Event && (FB.Event.subscribe("edge.create", function (a) {
                    _gaq.push(["_trackSocial", "facebook", "like", a])
                }), FB.Event.subscribe("edge.remove", function (a) {
                    _gaq.push(["_trackSocial", "facebook", "unlike", a])
                }), FB.Event.subscribe("message.send", function (a) {
                    _gaq.push(["_trackSocial", "facebook", "send", a])
                }));
                "twttr" in b && "events" in twttr && "bind" in twttr.events && twttr.events.bind("tweet", function (a) {
                    if (a) {
                        var b;
                        if (a.target && a.target.nodeName == "IFRAME")a:{
                            if (a = a.target.src) {
                                a = a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);
                                b = 0;
                                for (var c; c = a[b]; ++b)if (c.indexOf("url") === 0) {
                                    b = unescape(c.split("=")[1]);
                                    break a
                                }
                            }
                            b = void 0
                        }
                        _gaq.push(["_trackSocial", "twitter", "tweet", b])
                    }
                })
            })
        })(window);//]]>
    </script>
    <script type="text/javascript">
        //<![CDATA[
        try {
            if (!window.CloudFlare) {
                var CloudFlare = [{
                    verbose: 0,
                    p: 0,
                    byc: 0,
                    owlid: "cf",
                    bag2: 1,
                    mirage2: 0,
                    oracle: 0,
                    paths: {cloudflare: "/cdn-cgi/nexp/dok3v=1613a3a185/"},
                    atok: "82f71ab91e52e9dc6f8d10c6ee544add",
                    petok: "07d9b5c669a4fa4a06776c98721e4d32cea870c5-1497805119-1800",
                    zone: "themesadmin.com",
                    rocket: "0",
                    apps: {"ga_key": {"ua": "UA-92643213-2", "ga_bs": "2"}}
                }];
                !function (a, b) {
                    a = document.createElement("script"), b = document.getElementsByTagName("script")[0], a.async = !0, a.src = "../../ajax.cloudflare.com/cdn-cgi/nexp/dok3v%3d85b614c0f6/cloudflare.min.js", b.parentNode.insertBefore(a, b)
                }()
            }
        } catch (e) {

        };
        //]]>
    </script>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/Waves/dist/waves.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap/dist/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/icons_fonts/elegant_font/elegant.min.css') }}"/>
    <link id="site-color" rel="stylesheet" href="{{ asset('assets/layouts/layout-material-menu/css/color/light/color-default.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/switchery/dist/switchery.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/perfect-scrollbar/css/perfect-scrollbar.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/css-hamburgers/dist/hamburgers.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/morris.js/morris.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/flatpickr/dist/flatpickr.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/owl.carousel/dist/assets/owl.carousel.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/owl.carousel/dist/assets/owl.theme.default.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/global/css/components.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/layouts/layout-left-icon-menu/css/layout.min.css') }}"/>
{% endblock %}
{% block body %}
    {% block secondMenu %}{% endblock %}
    <section id="content-wrapper" class="form-elements" style="margin-top: -50px;">
                <div class="site-content-title">
                    <h2 class="float-xs-left content-title-main">Dashboard</h2>

                    <ol class="breadcrumb float-xs-right">
                        <li class="breadcrumb-item">
                            <span class="fs1" aria-hidden="true" data-icon=""></span>
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Dashboard 2</li>
                    </ol>

                </div>

                <div class="contain-inner dashboard-v2">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-9">
                                <div class="content">
                                    <div class="dashboard-content">
                                        <div class="dashboard-header">
                                            <h4 class="page-content-title float-xs-left">Traffic views</h4>
                                            <div class="dashboard-action">
                                                <ul class="right-action float-xs-right">
                                                    <li data-widget="collapse"><a href="javascript:void(0)"
                                                                                  aria-hidden="true"><span
                                                                    class="icon_minus-06" aria-hidden="true"></span></a></li>
                                                    <li data-widget="close"><a href="javascript:void(0)"><span
                                                                    class="icon_close" aria-hidden="true"></span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="line-chart" class="dashboard-box chart-height"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xl-3">
                                <div class="content form-bootstrap-datetime">
                                    <div class="calender-icon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                    <div id="startdate"></div>
                                    <div class="dashboard-calender">
                                        <div class="inline-calendar">
                                            <div data-plugin="flatpickr" data-enable-time="true"
                                                 data-inline="true"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider25"></div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xl-3">
                                        <div class="dashboard-widget widget-box dashboard-xs-widget">
                                            <div class="widget-content text-xs-right">
                                                <div class="product-icon bg-danger flat-buttons">
                                                    <i class="product-hover icon_printer"></i>
                                                    <i class="display-icon icon_printer"></i>
                                                </div>
                                                <span>Products</span>
                                                <h4 class="text-danger">4,500</h4>
                                                <span class="search_ad">Sale</span> <span>Today sale</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-3">
                                        <div class="dashboard-widget widget-box">
                                            <div class="widget-content text-xs-right">
                                                <div class="product-icon bg-success flat-buttons">
                                                    <i class="product-hover icon_document"></i>
                                                    <i class="display-icon icon_document"></i>
                                                </div>
                                                <span>Projects</span>
                                                <h4 class="text-success">1,500</h4>
                                                <span class="search_ad bg-danger">Sale</span><span>Total sale</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider-lg-spacing"></div>
                                    <div class="col-md-6 col-lg-6 col-xl-3">
                                        <div class="dashboard-widget widget-box dashboard-xs-widget">
                                            <div class="widget-content text-xs-right">
                                                <div class="product-icon bg-primary flat-buttons">
                                                    <i class="product-hover icon_contacts"></i>
                                                    <i class="display-icon icon_contacts"></i>
                                                </div>
                                                <span>Visitor</span>
                                                <h4 class="text-primary">4,700</h4>
                                                <span class="search_ad bg-success">View</span>
                                                <span>Today visitors</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-3">
                                        <div class="dashboard-widget widget-box">
                                            <div class="widget-content text-xs-right">
                                                <div class="product-icon bg-info flat-buttons">
                                                    <i class="product-hover icon_mail"></i>
                                                    <i class="display-icon icon_mail"></i>
                                                </div>
                                                <span>Message</span>
                                                <h4 class="text-info">1,700</h4>
                                                <span class="search_ad">View</span><span>Today message</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="dashboard_v4_box_block">
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="content">
                                        <div class="dashboard_v4_box_icon float-xs-left primary_box">
                                            <i class="fa fa-user fa-5x"></i>
                                        </div>
                                        <div class="dashboard_v4_box_title float-xs-right">
                                            <h4><a href="/publik/web/app_dev.php/admin/client/Entreprises">Etudiants</a></h4>
                                            <p>Total etudiants : <span class="tag tag-pill tag-warning">{{ result }}</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="content">
                                        <div class="dashboard_v4_box_icon float-xs-left warning_box">
                                            <i class="fa fa-envelope fa-5x"></i>
                                        </div>
                                        <div class="dashboard_v4_box_title float-xs-right">
                                            <h4> <a href="/publik/web/app_dev.php/admin/contact/">Contacts</a></h4>
                                            <p>Total des contacts réçus : <span class="tag tag-pill tag-warning">{{ result2 }}</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="content">
                                        <div class="dashboard_v4_box_icon float-xs-left success_box">
                                            <i class="fa fa-suitcase fa-5x"></i>
                                        </div>
                                        <div class="dashboard_v4_box_title float-xs-right">
                                            <h4> <a href="/publik/web/app_dev.php/admin/project/">Enseignants</a></h4>
                                            <p>Total enseignants : <span class="tag tag-pill tag-warning">{{ result3 }}</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="content">
                                        <div class="dashboard_v4_box_icon float-xs-left danger_box">
                                            <i class="fa fa-archive fa-5x"></i>
                                        </div>
                                        <div class="dashboard_v4_box_title float-xs-right">
                                            <h4><a href="/publik/web/app_dev.php/admin/concours/">Documents</a></h4>
                                            <p>Total Documents : <span class="tag tag-pill tag-success">{{ result4 }}</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="content">
                                        <div class="dashboard_v4_box_icon float-xs-left danger_box">
                                            <i class="fa fa-university fa-5x"></i>
                                        </div>
                                        <div class="dashboard_v4_box_title float-xs-right">
                                            <h4><a href="/publik/web/app_dev.php/admin/concours/">Classes</a></h4>
                                            <p>Total classes : <span class="tag tag-pill tag-success">{{ result5 }}</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="content">
                                        <div class="dashboard_v4_box_icon float-xs-left danger_box">
                                            <i class="fa fa-university fa-5x"></i>
                                        </div>
                                        <div class="dashboard_v4_box_title float-xs-right">
                                            <h4><a href="/publik/web/app_dev.php/admin/concours/">Matières</a></h4>
                                            <p>Total matières : <span class="tag tag-pill tag-success">{{ result6 }}</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="content">
                                        <div class="dashboard_v4_box_icon float-xs-left danger_box">
                                            <i class="fa fa-users fa-5x"></i>
                                        </div>
                                        <div class="dashboard_v4_box_title float-xs-right">
                                            <h4><a href="/publik/web/app_dev.php/admin/concours/">Employées</a></h4>
                                            <p>Total employées : <span class="tag tag-pill tag-success">{{ result7 }}</span></p>
                                            <p>Total concours non qualifiées : <span class="tag tag-pill tag-warning">0</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="content">
                                        <div class="dashboard_v4_box_icon float-xs-left primary_box">
                                            <i class="fa fa-user fa-5x"></i>
                                        </div>
                                        <div class="dashboard_v4_box_title float-xs-right">
                                            <h4><a href="{{ path('admin_verifier_paiment') }}">Paiment</a></h4>
                                            <p>nombre de tranche restées : <span class="tag tag-pill tag-warning">{{ result8 }}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ asset('assets/global/plugins/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/tether/dist/js/tether.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/switchery/dist/switchery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/screenfull.js/dist/screenfull.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/Waves/dist/waves.min.js') }}"></script>
<script src="{{ asset('assets/global/plugins/classie/classie.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/raphael/raphael.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/morris.js/morris.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/moment/min/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/owl.carousel/dist/owl.carousel.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/jquery-mousewheel/jquery.mousewheel.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/arcseldon-jquery.sparkline/dist/jquery.sparkline.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/flatpickr/dist/flatpickr.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/js/site.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/js/site-settings.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/js/global/dashboard_v2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/layouts/layout-icon-menu/js/layout.min.js') }}"></script>
    <script>
        $('#dashboard').addClass('active');
    </script>
{% endblock %}